<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>


<ion-header >
  <div class="card">

    <!-- <div class="form_radio_btn" [routerLink]="['/home']">
      <input id="radio-1" type="radio" name="radio" value="1" >
      <label for="radio-1"> <img style="width: 40px;"
          src="https://cdn.icon-icons.com/icons2/3178/PNG/512/team_people_man_woman_group_icon_193939.png"></label>
    </div>

    <div class="form_radio_btn" [routerLink]="['/spisok-prepod']">
      <input id="radio-2" type="radio" name="radio" value="2">

      <label for="radio-2"><img style="width: 40px;"
          src="https://cdn-icons-png.flaticon.com/512/167/167752.png"></label>
    </div>

    <div class="form_radio_btn" [routerLink]="['/rasp-auditor']" >
      <input id="radio-3" type="radio" name="radio" value="3" checked>
      <label for="radio-3"><img style="width: 40px;"
          src="https://cdn-icons-png.flaticon.com/512/2793/2793563.png"></label>

    </div> -->

    <div class="menu" >
      <input [routerLink]="['/home']" type="image" style="width: 40px;"
      src="https://cdn.icon-icons.com/icons2/3178/PNG/512/team_people_man_woman_group_icon_193939.png">
      </div>
      <div class="menu" >
      <input [routerLink]="['/spisok-prepod']" type="image" style="width: 40px;"
      src="https://cdn-icons-png.flaticon.com/512/167/167752.png">
      </div>
      <div class="menu" style="background-color: #e782eb;">
         <input [routerLink]="['/rasp-auditor']" type="image" style="width: 40px;"
         src="https://cdn-icons-png.flaticon.com/512/2793/2793563.png">
      </div>
    
  </div>
  <div class="time" >
   <b>{{DateToday}}</b> <br>
 
  </div>
 

</ion-header>


  
  


<ion-content  [fullscreen]="true">
 
  <!--  -->
  <ion-list>
    <ion-list-header>
     
    </ion-list-header>
    
    <ion-item lines="none" *ngFor="let RaspGr of RaspGr">
      
      <ion-card>
        <!-- <ion-card-header>
          <ion-card-title>  </ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header> -->
        
        <ion-card-content>
          
          <p class="leftstr"><b> {{RaspGr.VremyaS}} - {{RaspGr.VremyaPo}} </b></p>
          <p class="rightstr"><b> Гр. {{RaspGr.Gruppa}}</b></p>
          <p style="margin-bottom: 8px; font-size: 20px;"><u><b>{{RaspGr.Prepod}}</b></u></p> 
          {{RaspGr.Disciplina}}
        </ion-card-content>
      </ion-card>
   
     
  

    </ion-item>

  </ion-list>
  
 
</ion-content>

 <!-- Vibor gruppi -->

<ion-footer>
  <!-- <img style="width: 20px; margin-left: 120px; margin-bottom: -20px; position: relative; z-index: 1;"
      src="https://cdn-icons-png.flaticon.com/512/109/109164.png"> -->
  <div class="select_group">
    
    <select  (change)="getRaspGr()" [(ngModel)]="id_aydit"  id ="groupselect">
      
      <option value="null" selected disabled> Выберите..</option>
      
       <option *ngFor="let auditors of auditors"  value={{auditors.id_aydit}}>
        {{auditors.Ayditoriya}}</option>
    
    </select>
  </div>
  
    <ion-item-sliding style="width: 420px; margin-left: -15px;" #slidingItem>
      <ion-item-options side="start" (ionSwipe)="pred_week(slidingItem); getRaspGr(); ">
        <ion-item-option style="background-color:  #e782eb; border-radius: 6px;" expandable><p style="margin-left: 15px;">  {{week_today}}</p></ion-item-option>
      </ion-item-options>
  
      <ion-item >
        <div class="day_bott" *ngFor="let days of days; let i=index" >
          <ion-button class={{day[i]}} name="days"  (click)=" d();ch_day(i+1); getRaspGr(); ">{{days}}</ion-button>
        </div>
      </ion-item>
  
      <ion-item-options side="end" (ionSwipe)="next_week(slidingItem); getRaspGr()" >
        <ion-item-option style="background-color:  #e782eb; border-radius: 6px;"  expandable> <p style="margin-right: 15px;">  {{week_today}}</p></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
  <!-- Vibor dnya -->

 
</ion-footer>